<h1>Actualizar</h1>
<form action="/cats/{{cat._id}}/update" method="POST">
  <label for="cat-name">Nombre</label>
  <input type="text" id="cat-name" name="name" value="{{cat.name}}" /> 
  <button type="submit">Update</button>
</form>

<!--this ID this name

